In [1]:
%load_ext sql
%sql postgresql://user:1234@localhost:5432/costos

In [ ]:
from psycopg2 import connect
import re

c = connect("postgresql://user:1234@localhost:5432/costos").cursor()

ms_regex = re.compile(r"(\d+\.\d+)\s*ms")

def run_times(query, times=100, debug=False):
    executions = []
    for _ in range(times):
        c.execute("EXPLAIN ANALYZE " + query)
        try:
            res = float(c.fetchall()[-1][0].removeprefix("Execution Time: ").removesuffix(" ms"))
            if debug:
                print("Partial: ", res)
            executions.append(res)
        except Exception as e:
            raise ValueError(f"Query {query} failed, result should be 'Execution Time: x.x ms' but is: {res}") from e
    return round(max(executions), 3), round(min(executions), 3), round(sum(executions) / times, 3)

def show_times(*args, **kwargs):
    max_, min_, avg = run_times(*args, **kwargs)
    print(f"- Max: {max_} ms")
    print(f"- Min: {min_} ms")
    print(f"- Avg: {avg} ms")

___

# 1) _Creación de una nueva base_

Esto es creado por el script montado en `/docker-entrypoint-initdb.d` del docker compose

In [2]:
%%sql

-- descripción del esquema
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'public'
ORDER BY table_name, ordinal_position;

 * postgresql://user:***@localhost:5432/costos
14 rows affected.

[('books', 'isbn', 'character varying'),
 ('books', 'title', 'character varying'),
 ('books', 'author', 'character varying'),
 ('books', 'year', 'integer'),
 ('books', 'publisher', 'character varying'),
 ('books', 'image_url_s', 'character varying'),
 ('books', 'image_url_m', 'character varying'),
 ('books', 'image_url_l', 'character varying'),
 ('ratings', 'user_id', 'integer'),
 ('ratings', 'isbn', 'character varying'),
 ('ratings', 'rating', 'integer'),
 ('users', 'user_id', 'integer'),
 ('users', 'location', 'character varying'),
 ('users', 'age', 'integer')]

___

# 2) _Uso de comando `EXPLAIN`_

Escriba dos consultas, la primera que busque los datos de
los libros escritos por `'Bruce Norman'`, y la segunda que busque los datos de los libros
titulados `'The Perfect Fool'`. Utilice el comando EXPLAIN SELECT... para explicar por
qué la diferencia de demora si ambas devuelven un único resultado.

In [ ]:
%%time
%%sql

-- su codigo aquí

___

# 3) _Creación de un índice_

Cree un índice sobre el título de los libros y confirme si se está utilizando y si mejoró el tiempo de consulta.

In [ ]:
%%time
%%sql

-- su código aquí

___

# 4) _Índices para búsqueda de patrones_

Devuelva con una consulta los libros cuyo autor se llama `'John'`, tenga el appelido que tenga. Revise si el índice se está aprovechando. Cambie el índice con la opción `varchar_parttern_ops` para que se pueda aprovechar, revisandolo tanto con operadores `LIKE` e `ILIKE`.

In [ ]:
%%time
%%sql

-- su código aquí

___

# 5) _Case Sensitivity_

En el caso de no conocer cómo se guardo el nombre del autor `'ROBERT COWLEY'`, obtenga todos sus libros con alguna de las distintas alternativas. Revisar si aprovechan índices. Crear un índec por funcion `UPPER` para poder aprovecharlo.

In [ ]:
%%time
%%sql

-- su código aquí

___

# 6) _Índices de más de un atributo_

Obtenga todos los ratings dados por el usuario con id `118560`. Revise si se utilizó algún índice. El mismo, ¿está definido en el SQL de creación? ¿Se utilizó completamente? ¿Hubiera sido lo mismo el orden en el que se define la clave primaria para aprovechar esta consulta?

In [ ]:
%%time
%%sql

-- su código aquí

___

# 7) _Índices en la junta_

Obtenga todos los ratings del libro titulado `'The Perfect Fool'`. Revise cuántos índices se aprovecharon en cada tabla.

In [ ]:
%%time
%%sql

-- su código aquí